html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

.center {
  width: 28px;
  top: 135px;
  left: 135px;
  position: absolute;
}

.hand {
  width: 14px;
  position: absolute;
}

.hand-hour {
  top: 90px;
  left: 140px;
  transform-origin: bottom;
  animation: spin 6s infinite linear;
}

.hand-minute {
  top: 60px;
  left: 140px;
  transform-origin: bottom;
  animation: spin 1s infinite linear;

}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }

}
